.subcribe-container {
  background-color: #6246e5;
  margin: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
