.subcribe-container {
  background-color: #fff;
  margin: 1rem;
  padding: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px 0 0 0;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.subscribe-btn > button {
  margin-left: 1rem;
}
