.container {
  height: 100vh;
}
.xs-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border-radius: 25px;
  background-color: white;
}

.sx-formWrapper {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
