.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
.step-icon {
  font-size: 4rem;
  margin-right: 1rem;
  color: #64b5f6;
}
