.adminContainer {
  display: flex;
  flex-direction: row;
}
.dashboard-main {
  width: 85vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.admin-left {
}
.username {
  color: #df6951;
}
.admin-right {
}
