.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 16px;
}
.logo {
  flex-grow: 1;
}
.mid-nav {
  display: none;
}

@media only screen and (min-width: 600px) {
  .mid-nav {
    display: block;
    display: flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
  }
  .mid-nav > span {
    margin-right: 1rem;
  }
}
