.hero-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.hero-tagline {
  color: #df6951;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-title {
  color: #181e4b;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  margin-top: 2rem;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .hero-wrapper {
    flex-direction: row;
  }
  .hero-left {
    width: 50%;
    padding-top: 10%;
    padding-left: 2%;
  }
  .hero-right {
    width: 50%;
  }
  .btn-container {
    margin-top: 2rem;
  }
}
